<div class="form-group mb-3" [formGroup]="queryForm">
	<input type="text" class="form-control" placeholder="Search"
	formControlName="query">
	<div class="mt-1 errors" *ngIf="queryForm.get('query').dirty || queryForm.get('query').touched">
		<div *ngIf="queryForm.get('query').hasError('required')">Field is required</div>
		<div *ngIf="queryForm.get('query').getError('minlength') as error">
			Value is to short. Min length is {{ error.requiredLength }} characters.
		</div>
		<div *ngIf="queryForm.get('query').hasError('censor')">
			Not allowed
		</div>
	</div>
  </div>