<div *ngIf="mode=='show'">
	<h3>Playlist</h3>
	<dl>
		<dt>Name</dt>
		<dd>{{ playlist.name }}</dd>
	</dl>
	<dl>
		<dt>Favourite</dt>
		<dd>{{ playlist.favourite? "Yes" : "No" }}</dd>
	</dl>
	<dl>
		<dt>Color</dt>
		<dd [ngStyle] = "{
			color: playlist.color,
			border: '1px solid hotpink'
		}">
		{{ playlist.color }}
		</dd>
	</dl>
	<input type="button" class="btn btn-info" value="Edit" (click)="edit()">
</div>


<form *ngIf="mode=='edit'" #formRef="ngForm">
	<br>
	<br>
	<h3>Edit playlist</h3>
	<div class="form-gruop">
		<label>
			Name
		</label>
		<input type="text" class="form-control" [ngModel]="playlist.name" name="name">
	</div>
	<div class="form-check">
		<input type="checkbox" class="form-check-input" [ngModel]="playlist.favourite" name="fovourite">
		<label>
			Fovourite
		</label>
	</div>
	<div class="form-gruop">
		<input type="color" [ngModel]="playlist.color" name="color">
		<label>
			Color
		</label>
	</div>
	<input type="button" class="btn btn-danger" value="Cancel" (click)="cancel()">
	<input type="button" class="btn btn-success" value="Save" (click)="save(formRef)">
</form>